{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Article index{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Article index{% endtrans %}</h1>
	<a href="{{ path('app_article_new') }}">{% trans %}Create new{% endtrans %}</a>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>{% trans %}IdArticle{% endtrans %}</th>
					<th>{% trans %}NomArticle{% endtrans %}</th>
					<th>{% trans %}PrixAchat{% endtrans %}</th>
					<th>{% trans %}Volume{% endtrans %}</th>
					<th>{% trans %}Titrage{% endtrans %}</th>
					<th class="d-none d-lg-table-cell">{% trans %}Type{% endtrans %}</th>
					<th class="d-none d-md-table-cell">{% trans %}Couleur{% endtrans %}</th>
					<th class="d-none d-lg-table-cell">{% trans %}Marque{% endtrans %}</th>
					<th>{% trans %}actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.idArticle }}</td>
						<td>{{ article.nomArticle }}</td>
						<td>{{ article.prixAchat }}</td>
						<td>{{ article.volume }}</td>
						<td>{{ article.titrage }}</td>
						<td class="d-none d-lg-table-cell">
							{% if article.idType != null %}
								{{ article.idType.nomType }}
							{% else %}
								{% trans %}NC{% endtrans %}
							{% endif %}
						</td>
						<td class="d-none d-md-table-cell">
							{% if article.idCouleur != null %}
								{{ article.idCouleur.nomCouleur }}
							{% else %}
								{% trans %}NC{% endtrans %}
							{% endif %}
						</td>
						<td class="d-none d-lg-table-cell">
							{% if article.idMarque != null %}
								{{ article.idMarque.nomMarque }}
							{% else %}
								{% trans %}NC{% endtrans %}
							{% endif %}
						</td>
						<td>
							<a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">{% trans %}show{% endtrans %}</a>
							<a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">{% trans %}edit{% endtrans %}</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">{% trans %}no records found{% endtrans %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
